<div *ngIf="accountDetails">
  <h2>Nazwa konta: {{accountDetails.name}}
    <button class="btn btn-sm" (click)="btnClick(accountDetails.id)">Edytuj</button>
  </h2>
  <br>
  <h3>Właściciel konta : {{accountDetails.owner.name + ' ' + accountDetails.owner.surname}}</h3>
  <h3>Numer konta : {{accountDetails.accountNumber}}</h3>
  <h3>Saldo: {{accountDetails.balance + ' '  + accountDetails.currency}}</h3>
</div>


<br>


<h2>Wysłane przelewy</h2>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Z konta</th>
    <th scope="col">Na konto</th>
    <th scope="col">Kwota</th>
    <th scope="col">Data nadania</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tr *ngFor="let transfer of sendedTransfers">
    <th *ngIf="transfer.sendingAccount.accountNumber, else elseBlock">{{transfer.sendingAccount.accountNumber}}</th>
    <th *ngIf="transfer.targetAccount.accountNumber, else elseBlock">{{transfer.targetAccount.accountNumber}}</th>
    <th *ngIf="transfer.amount, else elseBlock">{{transfer.amount}}</th>
    <th *ngIf="transfer.amount, else elseBlock">{{transfer.dateOfSendingTransfer}}</th>
    <th *ngIf="transfer.amount, else elseBlock">{{transfer.status}}</th>
    <ng-template #elseBlock>
      <th>NO DATA</th>
    </ng-template>
  </tr>

</table>

<h2>Odebrane przelewy</h2>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Z konta</th>
    <th scope="col">Na konto</th>
    <th scope="col">Kwota</th>
    <th scope="col">Data otrzymania</th>


  </tr>
  </thead>
  <tr *ngFor="let transfer of recievedTransfers">
    <th *ngIf="transfer.sendingAccount.accountNumber, else elseBlock">{{transfer.sendingAccount.accountNumber}}</th>
    <th *ngIf="transfer.targetAccount.accountNumber, else elseBlock">{{transfer.targetAccount.accountNumber}}</th>
    <th *ngIf="transfer.amount, else elseBlock">{{transfer.amount}}</th>
    <th *ngIf="transfer.amount, else elseBlock">{{transfer.dateOfPostingTransfer}}</th>


    <ng-template #elseBlock>
      <th>NO DATA</th>
    </ng-template>
  </tr>

</table>
