<div class="container">
  <h1>Stwórz przelew wewnętrzny </h1>
  <form [formGroup]="transferFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="sendingAccountNumber">Z konta</label>
      <input type="text" class="form-control" formControlName="sendingAccountNumber" id="sendingAccountNumber" required>
      <div
        *ngIf="transferFormGroup.controls.sendingAccountNumber.dirty || transferFormGroup.controls.sendingAccountNumber.touched">
        <div *ngIf="transferFormGroup.get('sendingAccountNumber').hasError('pattern')" class="alert alert-danger">
          Numer konta musi składać sie z samych cyfr
        </div>
        <div *ngIf="transferFormGroup.get('sendingAccountNumber').hasError('required')" class="alert alert-danger">
          Pole nie może być puste
        </div>
        <div *ngIf="transferFormGroup.get('sendingAccountNumber').hasError('minlength')" class="alert alert-danger">
          Numer konta jest za krótki
        </div>
        <div *ngIf="transferFormGroup.get('sendingAccountNumber').hasError('maxlength')" class="alert alert-danger">
          Numer konta jest za długi
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Kwota</label>
      <input type="text" class="form-control" formControlName="amount" id="amount" required>
      <div *ngIf="transferFormGroup.controls.amount.dirty || transferFormGroup.controls.amount.touched">
        <div *ngIf="transferFormGroup.get('amount').hasError('pattern')" class="alert alert-danger">
          Błędna kwota
        </div>
        <div *ngIf="transferFormGroup.get('amount').hasError('required')" class="alert alert-danger">
          Pole nie może być puste
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="targetAccountNumber">Na konto</label>
      <input #owner type="text" class="form-control" formControlName="targetAccountNumber" id="targetAccountNumber">
      <div
        *ngIf="transferFormGroup.controls.targetAccountNumber.dirty || transferFormGroup.controls.targetAccountNumber.touched">
        <div *ngIf="transferFormGroup.get('targetAccountNumber').hasError('pattern')" class="alert alert-danger">
          Numer konta musi składać sie z samych cyfr
        </div>
        <div *ngIf="transferFormGroup.get('targetAccountNumber').hasError('required')" class="alert alert-danger">
          Pole nie może być puste
        </div>
        <div *ngIf="transferFormGroup.get('targetAccountNumber').hasError('minlength')" class="alert alert-danger">
          Numer konta jest za krótki
        </div>
        <div *ngIf="transferFormGroup.get('targetAccountNumber').hasError('maxlength')" class="alert alert-danger">
          Numer konta jest za długi
        </div>
      </div>
    </div>
    <div class="form-group">

      <div *ngIf="isDisabled" class="form-group">
        <label for="targetAccountNumber">Adres e-mail</label>
        <input type="text" class="form-control" formControlName="emailAddress" id="emailAddress">
      </div>
      <!--      <mdb-checkbox (click)="toggleToSendingEmail(sendEmail)"formControlName="sendEmail" id="sendEmail">Chcę otrzymać e-mail</mdb-checkbox>-->
      <input type="checkbox" formControlName="ifSendEmail" id="ifSendEmail" (change)="toggleIfSendingEmail()">
      <span> &nbsp;</span>
      <label for="ifSendEmail"> Czy wysłać e-maial ?</label>

    </div>
    <button type="submit" class="btn btn-success">Wykonaj</button>

  </form>
</div>
