<div class="container">
  <h1>Stwórz konto </h1>
  <form [formGroup]="accountFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="accountNumber">Numer konta</label>
      <input type="text" class="form-control"  formControlName="accountNumber" id="accountNumber" required>
    </div>
    <div class="form-group">
      <label for="balance">Saldo</label>
      <input type="text" class="form-control" formControlName="balance" id="balance" required>
    </div>
        <div class="form-group">
          <label for="ownerId">Id właściciela</label>
          <input #owner type="text" class="form-control" formControlName="ownerId" id="ownerId">
        </div>
        <div class="form-group">
          <label for="currencies">Waluta</label>
          <select class="form-control" id="currencies" formControlName="currencies" required>
            <option *ngFor="let pow of currencies" [value]="pow">{{pow}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="accountName">Nazwa konta </label>
          <input type="text" class="form-control" formControlName="accountName" id="accountName">
        </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
