<div class="container">
  <h1>Stwórz konto </h1>
  <form [formGroup]="accountFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="accountNumber">Numer konta</label>
      <input name="accountNumber" type="text" class="form-control" id="accountNumber" formControlName="accountNumber">
      <div *ngIf="accountFormGroup.controls.accountNumber.dirty || accountFormGroup.controls.accountNumber.touched">
        <div *ngIf="accountFormGroup.get('accountNumber').hasError('pattern')" class="alert alert-danger">Numer konta
          musi składać sie z samych cyfr
        </div>
        <div *ngIf="accountFormGroup.get('accountNumber').hasError('required')" class="alert alert-danger">Pole nie może
          być puste
        </div>
        <div *ngIf="accountFormGroup.get('accountNumber').hasError('minlength')" class="alert alert-danger">Numer konta
          jest za krótki
        </div>
        <div *ngIf="accountFormGroup.get('accountNumber').hasError('maxlength')" class="alert alert-danger">Numer konta
          jest za długi
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="balance">Saldo</label>
      <input type="text" class="form-control" formControlName="balance" id="balance" value="0" required>
      <div *ngIf="accountFormGroup.controls.balance.dirty || accountFormGroup.controls.balance.touched">
        <div *ngIf="accountFormGroup.get('balance').hasError('pattern')" class="alert alert-danger">Błędna kwota</div>
        <div *ngIf="accountFormGroup.get('balance').hasError('required')" class="alert alert-danger">Pole nie może być
          puste
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ownerId">Właściciel</label>
      <select class="form-control" id="ownerId" formControlName="ownerId" required>
        <option *ngFor="let owner of owners"
                [value]="owner.id">{{owner.name + ' ' + owner.surname + ' ' + owner.id}}</option>
      </select>
      <div *ngIf="accountFormGroup.controls.ownerId.dirty || accountFormGroup.controls.ownerId.touched">
        <div *ngIf="accountFormGroup.get('balance').hasError('required')" class="alert alert-danger">Pole nie może być
          puste
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="currencies">Waluta</label>
      <select class="form-control" id="currencies" formControlName="currencies" required>
        <option *ngFor="let pow of currencies" [value]="pow">{{pow}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="accountName">Nazwa konta </label>
      <input type="text" class="form-control" formControlName="accountName" id="accountName">
      <div *ngIf="accountFormGroup.controls.accountName.dirty || accountFormGroup.controls.accountName.touched">
        <div *ngIf="accountFormGroup.get('accountName').hasError('required')" class="alert alert-danger">Pole nie może
          być puste
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>

  </form>
