<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Numer konta</th>
    <th scope="col">Saldo</th>
    <th scope="col">Waluta</th>
    <th scope="col">Właściciel</th>
  </tr>
  </thead>

  <tr *ngFor="let account of accounts">

    <th *ngIf="account.id, else elseBlock">{{account.id}}</th>
    <th *ngIf="account.accountNumber, else elseBlock"><a [routerLink]="['accountDetails/' + account.id]" >{{account.accountNumber}}</a></th>
    <th *ngIf="account.balance, else elseBlock">{{account.balance}}</th>
    <th *ngIf="account.currency,else elseBlock">{{account.currency}}</th>
    <th *ngIf="account.owner,else elseBlock">{{account.owner.name}} {{account.owner.surname}}</th>

    <ng-template #elseBlock><th>NO DATA</th></ng-template>


  </tr>

</table>
